<section id="show-user-point-log" class="col-12">
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => { :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <div class="col-12">
      <article class="card">
        <h3 class="card-header"><%=@user_point_log.user.name %>의 <%=@user_point_log.point %>추가</h3>
        <div class="card-body">
          <dl>
            <dt><%= t(:point, scope: [:activerecord, :attributes, :user_point_log]) %></dt>
            <dd><%= number_to_currency @user_point_log.point %></dd>
            <dt><%= t(:created_at, scope: [:activerecord, :attributes, :user_point_log]) %></dt>
            <dd><%= I18n.l @user_point_log.created_at.to_date, :format => :long %></dd>
            <dt><%= t(:updated_at, scope: [:activerecord, :attributes, :user_point_log]) %></dt>
            <dd><%= I18n.l @user_point_log.updated_at.to_date, :format => :long %></dd>
          </dl>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <%= link_to t(:link_list), admin_user_point_logs_path, class: 'btn btn-secondary' %>
    </div>
    <div class="col-12 col-xl-6 text-right">
      <%= link_to t(:edit), edit_admin_user_point_log_path(@user_point_log), class: 'btn btn-secondary' %>
      <%= link_to t(:delete), admin_user_point_log_path(@user_point_log), :method => :delete, :data => { :confirm => t(:delete_confirm) }, class: 'btn btn-danger' %>
    </div>
  </div>
</section>
