<div id="show-porfolio" class="container sub-main">
  <div class="row">
    <article class="col-12" itemscope itemprop="article" itemtype="http://schema.org/Article">
      <div class="sl_content_header">
        <h3 itemprop="name"><%= @portfolio.title %></h3>
        <p><%= t(:created_at, scope: [:activerecord, :attributes, :portfolio]) %> : <%= I18n.l @portfolio.created_at.to_date, :format => :long %></p>
      </div>
      <div class="sl_content_main">
        <div class="sl_content_text" itemprop="text"><%=@portfolio.content %></div>
      </div>
    </article>
  </div>
  <div class="row">
    <% if user_signed_in? %>
      <% if  @portfolio.company_id==session[:company_id] %>
        <div class="col-12 text-right">
        <%=link_to t(:edit), edit_portfolio_path(@portfolio), :class => "btn btn-secondary" %>
          <%= link_to portfolio_path(@portfolio), :method => :delete, :data => { :confirm => t(:delete_confirm) }, :class => "btn btn-danger" do %>
            <%= t(:delete) %>
          <% end %>
        </div>
      <% end  %>
    <% end %>
    <div class="btn-group btn-group-lg col-12" role="group" style="margin-top:3rem">
      <%=link_to t(:link_list),company_path(@portfolio.company),{class: 'btn btn-secondary btn-large btn-block'} %>
    </div>
  </div>
</div>
