<div class="row">
  <h2 class="col-12 text-left"><%= display_company_title(@company.title,@company.id) %></h2>
  <% if @company.company_pictures.present? %>
    <div class="col-12 col-lg-6 col-xl-4 col-xxl-3">
      <h3>이미지</h3>
      <%
        if @company_picture
          @company_picture_picture = @company_picture.picture
        else
          @company_picture_picture = @company.company_pictures[0].picture
        end
      %>
      <%= link_to @company_picture_picture.large_thumb.url, :class => 'simple_image' do %>
        <figure>
          <%= image_tag @company_picture_picture.medium_thumb.url, :id=>"product-image" %>
        </figure>
      <% end %>
      <% if @company.company_pictures_count>1 %>
        <ul class="select-smallthumb">
          <% @company.company_pictures.each do |company_picture| %>
            <li>
              <%= link_to company_path(@company, { company_picture_id: company_picture }) do %><%= image_tag company_picture.picture.small_thumb.url %><% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  <div id="company-info" class="col-12<% if @company.company_pictures.present? %> col-lg-6 col-xl-8 col-xxl-9<% end %>">
    <article>
      <h3>기본정보</h3>
      <div class="card">
        <div class="card-body">
          <dl>
            <dt><%=t(:code,scope: [:activerecord,:attributes,:company]) %></dt>
            <dd>
              <% if @company.code.present? %>
                <%= @company.code %>
              <% else %>
                <span class="text-danger" title="사업자번호가 없거나 미입력된 업체로 주의가 필요합니다">사업자번호미입력업체</span>
              <% end %>
            </dd>
            <% if @company.company_code.present? %>
            <dt><%=t(:picture,scope: [:activerecord,:attributes,:company_code]) %></dt>
            <dd>
              <%= link_to @company.company_code.picture.large_thumb.url, :class => 'simple_image' do %>
                <figure>
                  <%= image_tag @company.company_code.picture.small_thumb.url, :id=>"product-image" %>
                </figure>
              <% end %>
            </dd>
            <% end %>
            <% unless @company.company_addresses_count.zero? %>
              <dt><%=t(:company_address,scope: [:activerecord,:models]) %></dt>
              <dd><% @company.company_addresses.each do |company_address| %>
                  <%= company_address.address.address.title %> &gt; <%= company_address.address.title %> &nbsp;
                <% end %>
              </dd>
            <% end %>
            <dt>업무시간</dt>
            <dd><%=@company.start_time.to_time.strftime("%I'") %> ~ <%=@company.end_time.to_time.strftime("%I'") %></dd>
            <dt><%=t(:view_count) %></dt>
            <dd><%=@company.impressionist_count(:filter=>:ip_address) %></dd>
            <dt><%=t(:orders_count,scope: [:activerecord,:attributes,:company]) %></dt>
            <dd><%=@company_accept_bidding.to_i %>건</dd>
          </dl>
        </div>
      </div>
    </article>
  </div>
</div>
<% if @company.content.present? %>
  <div class="row" style="margin-top:2rem">
    <article class="col-12">
      <h3><%=t(:content,scope: [:activerecord,:attributes,:company]) %></h3>
      <div class="card">
        <div class="card-body">
          <%= @company.content %>
        </div>
      </div>
    </article>
  </div>
<% end %>
<div class="row">
  <article class="col-12">
    <h3><%=t(:speciality,scope: [:activerecord,:models]) %></h3>
    <ul class="specialities">
      <% @company.company_specialities.each do |company_speciality| %>
        <li>
          <figure>
            <%=image_tag company_speciality.speciality.speciality_picture.picture.small_thumb.url,class: "rounded-circle",height: '100px',width: '100px' %>
            <figcaption><%=company_speciality.speciality.title %></figcaption>
          </figure>
        </li>
      <% end %>
    </ul>
  </article>
</div>
<div class="row">
  <article class="col-12">
    <h3><%=t(:portfolio,scope: [:activerecord,:models]) %></h3>
    <ul class="portfolios">
      <% unless @company.portfolios_count.zero? %>
        <% @company.portfolios.each do |portfolio| %>
          <li>
            <%=link_to portfolio_path(portfolio) do %>
              <figure>
                <%=image_tag portfolio.portfolio_picture.picture.small_thumb.url,class: "rounded-circle",height: '100px',width: '100px' %>
                <figcaption><%=portfolio.title %></figcaption>
              </figure>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li><%=t(:not_insert) %></li>
      <% end %>
      <% if user_signed_in? %>
      <% if @company.user_id==current_user.id %>
      <li><%=link_to '+ '+t(:add),new_portfolio_path %></li>
      <% end %>
      <% end %>
    </ul>
  </article>
</div>