<div class="row">
<% unless @charge_point_count.zero? %>
<% @charge_points.each do |charge_point| %>
      <div class="col-12 col-md-6 col-lg-4 col-lg-3">
  <%= form_with(model: user_point_log,local: true, class: 'payment-form') do |form| %>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%=form.hidden_field :charge_point_id, value: charge_point.id %>
        <%=number_with_delimiter(charge_point.price) %><%=t(:currency) %><br />
        <input type="hidden" class="p-price" value="<%=charge_point.price %>">
        <span class="p-name"><%=number_with_delimiter(charge_point.point) %><%=t(:point) %></span>
      </div>
    </div>
    <div class="card-footer">
    <div class="form-group actions">
      <%= form.submit :class => "btn btn-primary btn-block btn-lg",:value=>t(:charge) %>
    </div>
    </div>
  </div>
        <% end %>

      </div>
<% end %>
<% end %>
</div>
<script>
    var userCode='<%=ENV['importJs'] %>';
</script>