<section id="show-ad" class="col-12">
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => {  :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header"><%=@ad.title %></h3>
        <div class="card-body">
          <dl>
            <dt><%= t(:budget, scope: [:activerecord, :attributes, :ad]) %></dt>
            <dd><%= number_to_currency @ad.budget %></dd>
            <dt><%= t(:start_date, scope: [:activerecord, :attributes, :ad]) %></dt>
            <dd><%= @ad.start_date %></dd>
            <dt><%= t(:created_at, scope: [:activerecord, :attributes, :ad]) %></dt>
            <dd><%= I18n.l @ad.created_at.to_date, :format => :long %></dd>
            <dt><%= t(:updated_at, scope: [:activerecord, :attributes, :ad]) %></dt>
            <dd><%= I18n.l @ad.updated_at.to_date, :format => :long %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <%= link_to t(:link_list), admin_ads_path, class: 'btn btn-secondary' %>
    </div>
    <div class="col-12 col-xl-6 text-right">
      <%= link_to t(:edit), edit_admin_ad_path(@ad), class: 'btn btn-secondary' %>
      <%= link_to t(:delete), admin_ad_path(@ad), :method => :delete, :data => { :confirm => t(:delete_confirm) }, class: 'btn btn-danger' %>
    </div>
  </div>
</section>
