<!DOCTYPE html>
<html lang="<%=I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <title><%=t(:webpage_title)%></title>
  <meta name="description" content="<%=t(:webpage_description)%>" />
  <meta name="author" content="Sleeping-Lion" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap&subset=korean" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
  <%= stylesheet_link_tag "front", :media => "all", "data-turbolinks-track" => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <%= render :partial => 'layouts/header' %>
      <div id="mom">
        <div id="main">
          <div class="sub-main">
            <div class="container">
              <%= render :partial => 'layouts/notice', :locals=>{ :notice=>notice,:alert=>alert} %>
            </div>
            <%= yield %>
            <%= render :partial => 'layouts/aside' %>
          </div>
        </div>
      </div>
      <%= render :partial => 'layouts/footer' %>
  <div class="modal modal-lg fade" id="myModal" tabindex="-1" role="dialog" data-controller="hello" data-hello-target="modal"></div>
  <%= javascript_importmap_tags %>
</body>
</html>
